:root {
  --header-height: 80px;
  --finger-size: 40px;

  --movies-gap: 30px;

  --color-spring-green: #00e68a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-movie-card-title-bg: #1a1a1a;
  --color-imdb: #fbc607;
}
