:root {
  --header-height: 80px;
  --finger-size: 40px;

  --movies-gap: 30px;

  --color-main-green: #00cca3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-movie-card-title-bg: #1a1a1a;
  --color-imdb: #fbc607;
  --color-tundora: #4d4d4d;
  --color-silver-chalice: #a6a6a6;
}
